* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: url(../images/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-div {
    padding: 10%;
    background: linear-gradient(90deg, #1a1a1a, rgba(26, 26, 26, 0)100%);

}

.header h1 {
    color: #ffffff;
    line-height: 75px;
    font-weight: 700;
    font-size: 55px;
    width: 50%;
}

.header p {
    color: #ffffff;
    size: 18px;
    width: 40%;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.button-link {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 12px 16px;
    background: #ffffff;
    background: #EF233C;
    width: 160px;
    height: 56px;
    align-items: center;
    justify-content: center;

}